/* PublicationList.css */

/* Table styles */
.PublicationTable {
  width: 100%; /* Установим ширину таблицы на 100%, чтобы она занимала всю доступную ширину */
   /* Центрируем таблицу */
  border-radius: 10px; /* Скруглим углы */
  overflow: hidden; /* Скрываем переполнение, чтобы контент не выходил за границы */
  border: 2px solid #E4E4E7; /* Легкая серая граница вокруг таблицы */
}

.PublicationTable th{
  padding: 10px; /* Уменьшим внутренний отступ */
  border-bottom: 1px solid #E4E4E7; /* Серая граница между элементами td */
}
.PublicationTable td {
  padding: 5px; /* Уменьшим внутренний отступ */
  border-bottom: 1px solid #E4E4E7; /* Серая граница между элементами td */
}

.PublicationTable th:first-child,
.PublicationTable td:first-child {
  border-top-left-radius: 10px; /* Скруглим левый верхний угол */
}

.PublicationTable th:last-child,
.PublicationTable td:last-child {
  border-top-right-radius: 10px; /* Скруглим правый верхний угол */
}

/* Title styles */
.PublicationTitle {
  font-size: 16px; /* Уменьшим размер шрифта */
  color: #007bff; /* Синий цвет */
  text-decoration: none; /* Уберем подчеркивание */
}

/* Author styles */
.PublicationAuthor {
  font-style: italic; /* Курсивное начертание */
  color: #6c757d; /* Серый цвет */
}

/* Status styles */
.VerifiedStatus {
  display: inline-block; /* Отображаем как блочный элемент */
  padding: 2px 10px; /* Уменьшим внутренний отступ */
  border-radius: 5px; /* Скруглим углы */
  white-space: nowrap; /* Запрещаем перенос текста */
}

.VerifiedStatus.Yes {
  background-color: #DCFCE7; /* Зеленый фон для подтвержденного статуса */
  color: #14532D; /* Зеленый текст */
}

.VerifiedStatus.No {
  background-color: #FEE2E2; /* Красный фон для не подтвержденного статуса */
  color: #7F1D1D; /* Красный текст */
  padding: 2px 10px; /* Уменьшим внутренний отступ */
}
/* PublicationList.css */

.save-button-container {
  position: relative; /* Относительное позиционирование контейнера */
  width: fit-content; /* Ширина контейнера равна ширине содержимого */
}

.save-button-container button {
  position: absolute; /* Абсолютное позиционирование кнопки */
  top: 0; /* Располагаем кнопку в верхнем крае контейнера */
  right: 0; /* Располагаем кнопку в правом крае контейнера */
  background: none; /* Убираем фон у кнопки */
  border: none; /* Убираем границу у кнопки */
  padding: 0; /* Убираем отступы у кнопки */
}
