.publication-list-page {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  padding: 5px 20px; /* Add padding for spacing */
  position: relative; /* Relative positioning for the parent element */
}

.publication-list-container {
  flex-grow: 1; /* Expand to fill available space */
  background-color: #fff; /* Background color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 5px; /* Padding inside the list */
  padding-top: 1px;
  margin-right: 5px; /* Right margin */
  margin-top: 5px; /* Align top with the filter panel */
}

.filter-panel-container {
  width: 20%; /* Width of the filter panel */
  background-color: #f0f0f0; /* Background color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the filter panel */
  position: sticky; /* Sticky positioning */
  top: 5px; /* Align top with the publication list */
  z-index: 1; /* Ensure the filter panel is above other elements */
}

.filter-toggle {
   position: sticky; /* Закрепляем панель фильтров */
  top: 10px; /* Располагаем панель фильтров 20 пикселей от верхнего края */
   /* Располагаем панель фильтров 20 пикселей от правого края */
  width: 100%; /* Располагаем кнопку справа на странице */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.9s ease; /* Добавляем плавный переход для фона */
  z-index: 2; /* Устанавливаем z-index, чтобы кнопка была поверх панели фильтров */
}

.filter-toggle:hover {
  background-color: #0056b3; /* Hover background color */
}
