/*// app.css*/
.App {
  text-align: center;
  font-family: Arial, sans-serif; /* Добавляем семейство шрифтов для всего приложения */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: height 0.3s ease; /* Добавляем плавный переход для высоты */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: background-color 0.3s ease; /* Добавляем плавный переход для фона */
}

.App-header:hover {
  background-color: #333; /* Меняем цвет фона при наведении */
}

.App-link {
  color: #61dafb;
  transition: color 0.3s ease; /* Добавляем плавный переход для цвета */
}

.App-link:hover {
  color: #92e0fb; /* Меняем цвет при наведении */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
